<link href="assets/game.css" rel="stylesheet" type="text/css">
<h1>Hello This is Pure HTML Version</h1>

<div id="new_game_form" class="choice_list">
  <form action="new_game" method="post">
    <div id="player1_options">
      <label for="player1_human">
        <input type="radio" name="player1" id="player1_human"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
      <label for="player1_easy_ai">
        <input type="radio" name="player1" id="player1_easy_ai"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
      <label for="player1_medium_ai">
        <input type="radio" name="player1" id="player1_medium_ai"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
      <label for="player1_unbeatable_ai">
        <input type="radio" name="player1" id="player1_unbeatable_ai"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
    </div>

    <div id="player2_options">
      <label for="player2_human">
        <input type="radio" name="player2" id="player2_human"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
      <label for="player2_easy_ai">
        <input type="radio" name="player2" id="player2_easy_ai"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
      <label for="player2_medium_ai">
        <input type="radio" name="player2" id="player2_medium_ai"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
      <label for="player2_unbeatable_ai">
        <input type="radio" name="player2" id="player2_unbeatable_ai"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
    </div>

    <div id="game_options">
      <label for="3x3_game">
        <input type="radio" name="game_type" id="3x3_game"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
      <label for="4x4_game">
        <input type="radio" name="game_type" id="4x4_game"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
      <label for="5x5_game">
        <input type="radio" name="game_type" id="5x5_game"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
      <label for="cube3_game">
        <input type="radio" name="game_type" id="cube3_game"/>
        <img src="assets/rails.png" alt="Smiley face" height="42" width="42">
      </label>
    </div>

    <input type="submit" value="Go To Game"/>
  </div>
</form>



